{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!--Category and Latest Added Apps Content-->
<div class="row">
    <div class="col-2 edge"></div>
    <div class="col-2 category-bg">
        <div class="category">
        <h2>Category</h2>
        {% for category in categories %}
            <div class="category_list">
                <a href="{{url_for('showCategory', category_name = category.name)}}">{{ category.name }}</a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-6 apps-bg">
        <div class="apps">
            <h2>{{category.name}} Apps ({{count}})</h2>
            {% for app in apps %}
                <div class="app_list">
                    <a href="{{url_for('showApp', app_name = app.name, category_name = app.category_name)}}">{{ app.name }} </a>
                </div>   
            {% endfor %}
        </div>
    </div>
    <div class="col-2 edge"></div>
</div>

<!--Add new app Button-->
<div class="row">
    <div class="col-2 edge"></div>
    <div class="col-4"></div>
    <div class="col-4 footer"><a href="{{url_for('newApp', category_name = category.name)}}">Add a New App in This Category</a></div>
    <div class="col-2 edge"></div>
</div>

<div class="row none">
    <div class="col-12">12</div>
</div>
{% endblock %}
    
        


