{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-2 edge"></div>
    <div class="col-8 detail">
        <h2>Edit {{x.name}}</h2>
        <form action="{{ url_for('editApp', category_name = category_name, app_name = app_name)}}" method="post">
            <p>New Name:</p>
            <input type="text" size="30" name="name" value="{{x.name}}" autofocus required>
            
            <p>New Description:</p>
            <textarea rows="10" cols="28" name="description" required>{{x.description}}</textarea>

            <p>New URL:</p>
            <input type="url" size="80" name="url" value="{{x.url}}" required>

            <p>New Developer:</p>
            <input type="text" size="30" name="developer" value="{{x.developer}}" required>

            <p>New OS:</p>
            <input type="radio" name="os" value="OS X"
                {% if x.os == "OS X" %}
                    {{ "checked" }}
                {% endif %}
                > OS X</br>

            <input type="radio" name="os" value="iOS"
                {% if x.os == "iOS" %}
                    {{"checked"}}
                {% endif %}
                > iOS</br>

            <p>New Category:</p>
            <select name="category_name">
                <option value="" disabled selected>Select a Category</option>
                <option value="Business"
                    {% if x.category_name == "Business" %}
                        {{"selected"}}
                    {% endif %}
                >Business</option>
                <option value="Developer Tools"
                    {% if x.category_name == "Developer Tools" %}
                        {{"selected"}}
                    {% endif %}
                >Developer Tools</option>
                <option value="Education"
                    {% if x.category_name == "Education" %}
                        {{"selected"}}
                    {% endif %}
                >Education</option>
                <option value="Entertainment"
                    {% if x.category_name == "Entertainment" %}
                            {{"selected"}}
                        {% endif %}
                >Entertainment</option>
                <option value="Finance"
                    {% if x.category_name == "Finance" %}
                        {{"selected"}}
                    {% endif %}
                >Finance</option>
                <option value="Games"
                    {% if x.category_name == "Games" %}
                        {{"selected"}}
                    {% endif %}
                >Games</option>
                <option value="Graphics & Design"
                    {% if x.category_name == "Graphics & Design" %}
                        {{"selected"}}
                    {% endif %}
                >Graphics &amp; Design</option>
                <option value="Health & Fitness"
                    {% if x.category_name == "Health & Fitness" %}
                        {{"selected"}}
                    {% endif %}
                >Health &amp; Fitness</option>
                <option value="Lifestyle"
                    {% if x.category_name == "Lifestyle" %}
                        {{"selected"}}
                    {% endif %}
                >Lifestyle</option>
                <option value="Medical"
                    {% if x.category_name == "Medical" %}
                        {{"selected"}}
                    {% endif %}
                >Medical</option>
                <option value="Music"
                    {% if x.category_name == "Music" %}
                        {{"selected"}}
                    {% endif %}
                >Music</option>
                <option value="News"
                    {% if x.category_name == 12 %}
                        {{"selected"}}
                    {% endif %}
                >News</option>
                <option value="Photography"
                    {% if x.category_name == "Photography" %}
                        {{"selected"}}
                    {% endif %}
                >Photography</option>
                <option value="Productivity"
                    {% if x.category_name == "Productivity" %}
                        {{"selected"}}
                    {% endif %}
                >Productivity</option>
                <option value="Reference"
                    {% if x.category_name == "Reference" %}
                        {{"selected"}}
                    {% endif %}
                >Reference</option>
                <option value="Social Networking"
                    {% if x.category_name == "Social Networking" %}
                        {{"selected"}}
                    {% endif %}
                >Social Networking</option>
                <option value="Sports"
                    {% if x.category_name == "Sports" %}
                        {{"selected"}}
                    {% endif %}
                >Sports</option>
                <option value="Travel"
                    {% if x.category_name == "Travel" %}
                        {{"selected"}}
                    {% endif %}
                >Travel</option>
                <option value="Utility"
                    {% if x.category_name == "Utility" %}
                        {{"selected"}}
                    {% endif %}
                >Utility</option>
                <option value="Video"
                    {% if x.category_name == "Video" %}
                        {{"selected"}}
                    {% endif %}
                >Video</option>
                <option value="Weather"
                    {% if x.category_name == "Weather" %}
                        {{"selected"}}
                    {% endif %}
                >Weather</option>   
            </select>
            <p></p>
            <input type="submit" value="Confirm">
            <a href="{{ url_for('Frontpage')}}">Cancel</a>
        </form>
    </div>
    <div class="col-2 edge"></div>
</div>

<div class="row none">
            <div class="col-12">12</div>
        </div>
{% endblock %}

