{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-2 edge"></div>
    <div class="col-8 detail">
        <h2>Add a new Favorite App</h2>
        <form action="{{ url_for('newApp', category_name = category_name)}}" method="post">
            <p>Name:</p>
            <input type="text" size="30" name="name" autofocus>
            
            <p>Description:</p>
            <textarea rows="10" cols="28" name="description"></textarea>
            
            <p>URL:</p>
            <input type="url" size="30" name="url">

            <p>Developer:</p>
            <input type="text" size="30" name="developer">

            <p>OS:</br>
            <input type="radio" name="os" value = "OSX" required> OS X</br>
            <input type="radio" name="os" value = "iOS" required> iOS</br>
            </p>
            <p>Category:</p>
            <select name="category_name" required>
                <option value="" disabled selected="">Select a Category</option>
                <option value="Business"
                    {% if category_name == "Business" %}
                        {{"selected"}}
                    {% endif %}
                >Business</option>
                <option value="Developer Tools"
                    {% if category_name == "Developer Tools" %}
                        {{"selected"}}
                    {% endif %}
                >Developer Tools</option>
                <option value="Education"
                    {% if category_name == "Education" %}
                        {{"selected"}}
                    {% endif %}
                >Education</option>
                <option value="Entertainment"
                    {% if category_name == "Entertainment" %}
                            {{"selected"}}
                        {% endif %}
                >Entertainment</option>
                <option value="Finance"
                    {% if category_name == "Finance" %}
                        {{"selected"}}
                    {% endif %}
                >Finance</option>
                <option value="Games"
                    {% if category_name == "Games" %}
                        {{"selected"}}
                    {% endif %}
                >Games</option>
                <option value="Graphics & Design"
                    {% if category_name == "Graphics & Design" %}
                        {{"selected"}}
                    {% endif %}
                >Graphics &amp; Design</option>
                <option value="Health & Fitness"
                    {% if category_name == "Health & Fitness" %}
                        {{"selected"}}
                    {% endif %}
                >Health &amp; Fitness</option>
                <option value="Lifestyle"
                    {% if category_name == "Lifestyle" %}
                        {{"selected"}}
                    {% endif %}
                >Lifestyle</option>
                <option value="Medical"
                    {% if category_name == "Medical" %}
                        {{"selected"}}
                    {% endif %}
                >Medical</option>
                <option value="Music"
                    {% if category_name == "Music" %}
                        {{"selected"}}
                    {% endif %}
                >Music</option>
                <option value="News"
                    {% if category_name == 12 %}
                        {{"selected"}}
                    {% endif %}
                >News</option>
                <option value="Photography"
                    {% if category_name == "Photography" %}
                        {{"selected"}}
                    {% endif %}
                >Photography</option>
                <option value="Productivity"
                    {% if category_name == "Productivity" %}
                        {{"selected"}}
                    {% endif %}
                >Productivity</option>
                <option value="Reference"
                    {% if category_name == "Reference" %}
                        {{"selected"}}
                    {% endif %}
                >Reference</option>
                <option value="Social Networking"
                    {% if category_name == "Social Networking" %}
                        {{"selected"}}
                    {% endif %}
                >Social Networking</option>
                <option value="Sports"
                    {% if category_name == "Sports" %}
                        {{"selected"}}
                    {% endif %}
                >Sports</option>
                <option value="Travel"
                    {% if category_name == "Travel" %}
                        {{"selected"}}
                    {% endif %}
                >Travel</option>
                <option value="Utility"
                    {% if category_name == "Utility" %}
                        {{"selected"}}
                    {% endif %}
                >Utility</option>
                <option value="Video"
                    {% if category_name == "Video" %}
                        {{"selected"}}
                    {% endif %}
                >Video</option>
                <option value="Weather"
                    {% if category_name == "Weather" %}
                        {{"selected"}}
                    {% endif %}
                >Weather</option>
            </select>

            </br></br>
            <input type="submit" value="Add">
            <a href="{{ url_for('Frontpage')}}">Cancel</a>
        </form>
        
    </div>
    <div class="col-2 edge"></div>
</div>
<div class="row none">
            <div class="col-12">12</div>
        </div>
{% endblock %}
